html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f0f0f0;
}

@media (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr !important;
    text-align: center;
  }
}
